In [7]:
import pandas as pd, numpy as np

data = [["blabla", "234234234", "yoyoyo", "Super Store235"],
        [np.nan, np.nan, np.nan, "Super Store"],
        [np.nan, np.nan, np.nan, "Super Store"],
        ["yo yo yo", 456, 789, "Super Store"],
        [np.nan, np.nan, np.nan, "Super Store"],
        [np.nan, np.nan, np.nan, "Super Store"],
        [np.nan, np.nan, np.nan, "Super Store"],
        [123, 456, 789, "Super Store2"],
        [np.nan, np.nan, np.nan, "Super Store2"],
        [np.nan, np.nan, np.nan, "Super Store2"],
        [np.nan, np.nan, np.nan, "Super Store2"],
        [np.nan, np.nan, np.nan, "Super Store2"],
       ]

df = pd.DataFrame(data, columns=["county_number", "county_district", "random_num", "store"])

In [8]:
df

   county_number county_district random_num           store
0         blabla       234234234     yoyoyo  Super Store235
1            NaN             NaN        NaN     Super Store
2            NaN             NaN        NaN     Super Store
3       yo yo yo             456        789     Super Store
4            NaN             NaN        NaN     Super Store
5            lol             NaN        NaN     Super Store
6            NaN             NaN        NaN     Super Store
7            123             456        789    Super Store2
8            NaN             NaN        NaN    Super Store2
9            NaN             NaN        NaN    Super Store2
10           NaN             NaN        NaN    Super Store2
11           NaN             NaN        NaN    Super Store2

In [11]:
for group_label, group_df in df.groupby("store"):
    df[df["store"] == group_label] = df[(df["store"] == group_label) & ].sort("county_number").ffill()

/Users/Tami/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [12]:
df

   county_number county_district random_num           store
0         blabla       234234234     yoyoyo  Super Store235
1            NaN             NaN        NaN     Super Store
2            NaN             NaN        NaN     Super Store
3       yo yo yo             456        789     Super Store
4            NaN             NaN        NaN     Super Store
5            lol             NaN        NaN     Super Store
6            NaN             NaN        NaN     Super Store
7            123             456        789    Super Store2
8            NaN             NaN        NaN    Super Store2
9            NaN             NaN        NaN    Super Store2
10           NaN             NaN        NaN    Super Store2
11           NaN             NaN        NaN    Super Store2